@value dark, light from '../styles/colors.css';
@value xs, s from '../styles/spacings.css';

.TodoListItem__Wrapper {
    font-size: 32px;
    margin-bottom: s;
    position: relative;
    width: 100%;
    cursor: move;
    background-color: palevioletred;
}

.TodoListItem__Completed {
    background-color: orange;
}

.TodoListItem__Completed .TodoListItem__Name {
    text-decoration: line-through;
    text-decoration-color: inherit;
}

.TodoListItem__Wrapper:hover .TodoListItem__BtnComplete {
    display: inline-block;
}

.TodoListItem__Name {
    color: light;
    padding-left: xs;
    text-decoration-color: transparent;
    transition: text-decoration-color .3s;
}

.TodoListItem__BtnComplete {
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    width: 32px;
    position: absolute;
    background-color: greenyellow;
    font-size: 32px;
    color: dark;
    border: 0;
}

