@value color_dark, color_light from "./styles/colors.css";
@value space_xs, space_l from "./styles/spacings.css";
@value font_l from "./styles/typings.css";

main {
    max-width: 380px;
    width: 100%;
}

.Wrapper {
    height: 100%;
    min-height: 100vh;
    background-color: color_dark;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AppHeader {
    display: flex;
    justify-content: center;
    font-size: font_l;
    color: color_light;
    box-sizing: border-box;
    padding-block-start: space_xs;
    margin-block-end: space_l;
}
